{% extends "base.html" %}

{% block content %}
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password (for admin):</label>
        <input type="password" id="password" name="password">
        <button type="submit">Log in</button>
    </form>

    <h2>Categories</h2>
    <form action="/search_results.html" method="POST">
        {% for category in categories %}
        <div>
            <input type="checkbox" id="{{ category }}" name="categories" value="{{ category }}">
            <label for="{{ category }}">{{ category }}</label>
        </div>
        {% endfor %}
        <button type="submit">Search</button>
    </form>
{% endblock %}