{% extends "base.html" %}

{% block content %}
    <h1>{{ item.name }}</h1>
    <div style="display: flex;">
        <!-- Item details -->
        <div class="item" style="width: 60%;">
            <!-- Display common fields -->
            <p>{{ item.description }}</p>
            <p>Price: {{ item.price }} $</p>
            <p>Seller: {{ users_dict[item.seller] }}</p>
            <p>Category: {{ item.category_name }}</p>
            <img src="{{ item.image_url }}" alt="{{ item.name }}">
            <p>Rating: {{ item.rating }}</p>
            <p>Number of Ratings: {{ item.number_of_rates}}</p>
            <!-- Display item-specific fields -->
            {% if item.category_name == 'Clothing' %}
                <p>Size: {{ item.details.size }}</p>
                <p>Colour: {{ item.details.colour }}</p>
            {% elif item.category_name in ['Computer Components', 'Monitors'] %}
                <p>Spec: {{ item.details.spec }}</p>
            {% endif %}
            {% if session['is_admin'] %}
                <td><a href="{{ url_for('delete_item', item_id=item['_id']) }}">Remove Item</a></td>
            {% endif %}
        </div>
        <!-- Reviews -->
        <div class="reviews-container" style="width: 40%;">
            <h3>User Reviews</h3>
            {% for username, review_text in item.reviews.items() %}
                <p><strong>{{ username }}:</strong></p>
                <p>{{ review_text }}</p>
            {% endfor %}
        </div>
    </div>
    <h2>Rate and Review</h2>
    <div class="forms-container" style="display: flex;">
        {% if not is_admin %}
            <form action="{{ url_for('submit_review', item_id=item['_id']) }}" method="POST">
                <label for="review">Review:</label>
                <textarea id="review" name="review" required></textarea>
                <br>
                <button type="submit">Submit Review</button>
            </form>
            <form action="{{ url_for('submit_rate', item_id=item['_id']) }}" method="POST">
                <label for="rating">Rating (1-5):</label>
                <input type="number" id="rating" name="rating" min="1" max="5" required>
                <br>
                <button type="submit">Submit Rate</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
